@font-face {
  font-family: 'Circular Std';
  src: local('fontsCircular Std Medium'), local('Circular-Std-Medium'), url('../fonts/CircularStd-Medium.woff2') format('woff2'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
